<div *ngIf="!!orderSettings; else noOrderCol" class="col-with-order">
  <h5 (click)="orderSettings.setOrder.next(fieldName)">
    <span>{{colTitle}}</span>
    <span [hidden]="orderSettings.orderField === fieldName" class="icon-sort"></span>
    <span [hidden]="orderSettings.orderField !== fieldName">
      <span [hidden]="orderSettings.orderReverse" class="icon-arrow-down7"></span>
      <span [hidden]="!orderSettings.orderReverse" class="icon-arrow-up7"></span>
    </span>
  </h5>
</div>

<ng-template #noOrderCol>
  <h5> <span>{{colTitle}}</span> </h5>
</ng-template>
